In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import requests
%matplotlib inline

In [11]:
sac_csv = pd.read_csv('./datasets/sacramento_real_estate_transactions.csv')

In [12]:
sac_csv.head(1)

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879

In [13]:
df = sac_csv.loc[:,['latitude','longitude']]

In [14]:
df

      latitude   longitude
0    38.631913 -121.434879
1    38.478902 -121.431028
2    38.618305 -121.443839
3    38.616835 -121.439146
4    38.519470 -121.435768
..         ...         ...
980  38.457679 -121.359620
981  38.499893 -121.458890
982  38.708824 -121.256803
983  38.417000 -121.397424
984  38.655245 -121.075915

[985 rows x 2 columns]

In [15]:
df.dtypes

latitude     float64
longitude    float64
dtype: object

In [37]:
res = requests.get("http://www.datasciencetoolkit.org/coordinates2politics/37.769456%2c-122.429128")

In [38]:
res.text

'[\n  {\n    "politics": [\n      {\n        "type": "admin2",\n        "friendly_type": "country",\n        "name": "United States",\n        "code": "usa"\n      },\n      {\n        "type": "admin4",\n        "friendly_type": "state",\n        "name": "California",\n        "code": "us06"\n      },\n      {\n        "type": "admin6",\n        "friendly_type": "county",\n        "name": "San Francisco",\n        "code": "06_075"\n      },\n      {\n        "type": "admin5",\n        "friendly_type": "city",\n        "name": "San Francisco",\n        "code": "06_67000"\n      },\n      {\n        "type": "constituency",\n        "friendly_type": "constituency",\n        "name": "Eighth district, CA",\n        "code": "06_08"\n      },\n      {\n        "type": "neighborhood",\n        "friendly_type": "neighborhood",\n        "name": "Castro-Upper Market",\n        "code": "Castro-Upper Market|San Francisco|CA"\n      }\n    ],\n    "location": {\n      "latitude": 37.769456,\n      "longitude": -122.429128\n    }\n  }\n]'

In [17]:
base_url = "http://www.datasciencetoolkit.org/coordinates2politics/"

In [59]:
test_list = []
for i in range(0,25):
    res = requests.get(base_url + str(df['latitude'][i]) + '%2c' + str(df['longitude'][i]))
    test_list.append(res.text)

In [60]:
test_list[0]

'[\n  {\n    "politics": [\n      {\n        "type": "admin2",\n        "friendly_type": "country",\n        "name": "United States",\n        "code": "usa"\n      },\n      {\n        "type": "admin6",\n        "friendly_type": "county",\n        "name": "Sacramento",\n        "code": "06_067"\n      },\n      {\n        "type": "admin4",\n        "friendly_type": "state",\n        "name": "California",\n        "code": "us06"\n      },\n      {\n        "type": "constituency",\n        "friendly_type": "constituency",\n        "name": "Fifth district, CA",\n        "code": "06_05"\n      },\n      {\n        "type": "admin5",\n        "friendly_type": "city",\n        "name": "Sacramento",\n        "code": "06_64000"\n      },\n      {\n        "type": "neighborhood",\n        "friendly_type": "neighborhood",\n        "name": "Hagginwood",\n        "code": "Hagginwood|Sacramento|CA"\n      }\n    ],\n    "location": {\n      "latitude": 38.631913,\n      "longitude": -121.434879\n    }\n  }\n]'

In [70]:
x = test_list[0].split('06_')[1][0:3]

In [72]:
fips_list = [test_list[i].split('06_')[1][0:3] for i in range(0,len(test_list))]

In [73]:
fips_list

['067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067',
 '067']