In [1]:
import pandas as pd

In [2]:
# Import file of US cities and matching counties
city_cty = pd.read_csv('uscities.csv')

In [3]:
# Import file of US cities and matching counties
tx_sip_ctys = pd.read_csv('../data/sip_tx_ctys.csv')

In [4]:
city_cty.head(1)

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500.0,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840042075

In [10]:
city_cty.drop(columns=['city_ascii','county_fips_all','county_name_all','source','military','incorporated','timezone','zips','id'], inplace=True)

In [11]:

sip_list = []
for num in range(0,28889):
    if city_cty['state_id'][num] == 'NY':
        sip_list.append(1)
    elif city_cty['state_id'][num] == 'TX':
        if city_cty['county_name'][num] in tx_sip_ctys:
            sip_list.append(1)
        else:
            sip_list.append(0)
    else:
        sip_list.append(0)
city_cty['shelter_in_place'] = sip_list

In [12]:
city_cty['all_gatherings_prohibited'] = [1 if item == 'NY' else 0 for item in city_cty['state_id']]
city_cty['traveler_quarantines'] = [1 if item == 'TX' else 0 for item in city_cty['state_id']]
city_cty['temporary_hospitals'] = [1 if item == 'NY' else 0 for item in city_cty['state_id']]
city_cty['businesses_reopening'] = [1 if item == 'TX' else 0 for item in city_cty['state_id']]
city_cty['state_stay_at_home'] = [1 if item == 'NY' else 0 for item in city_cty['state_id']]
city_cty['tests_per_thousand'] = [61.9 if item == 'NY' else 18.1 for item in city_cty['state_id']]
city_cty['test_positives_rate'] = [.28 if item == 'NY' else .08 for item in city_cty['state_id']]

In [13]:
city_cty.head()

,city,state_id,state_name,county_fips,county_name,lat,lng,population,density,ranking,shelter_in_place,all_gatherings_prohibited,traveler_quarantines,temporary_hospitals,businesses_reopening,state_stay_at_home,tests_per_thousand,test_positives_rate
0,South Creek,WA,Washington,53053,Pierce,46.9994,-122.3921,2500.0,125.0,3,0,0,0,0,0,0,18.1,0.08
1,Roslyn,WA,Washington,53037,Kittitas,47.2507,-121.0989,947.0,84.0,3,0,0,0,0,0,0,18.1,0.08
2,Sprague,WA,Washington,53043,Lincoln,47.3048,-117.9713,441.0,163.0,3,0,0,0,0,0,0,18.1,0.08
3,Gig Harbor,WA,Washington,53053,Pierce,47.3352,-122.5968,9507.0,622.0,3,0,0,0,0,0,0,18.1,0.08
4,Lake Cassidy,WA,Washington,53061,Snohomish,48.0639,-122.0920,3591.0,131.0,3,0,0,0,0,0,0,18.1,0.08

In [14]:
tx_df = city_cty[city_cty['state_id'] == 'TX']
ny_df = city_cty[city_cty['state_id'] == 'NY']

In [15]:
df_client = pd.read_csv('../data/tweets_and_covid.csv')

In [16]:
df_client_ny = df_client[df_client['state'] == 'NY']
df_client_tx = df_client[df_client['state'] == 'TX']

In [17]:
df_client_ny.shape

(1305, 15)

In [18]:
ny_city_fix = {'Cheektowaga':'Buffalo',
               'Clarence':'Clarence Center',
               'Amherst':'Buffalo',
               'Henrietta':'Rochester',
               'Clifton Park':'Round Lake',
               'Delmar':'Albany',
               'Greece':'Rochester',
               'Halfmoon':'Mechanicville',
               'Huntington':'Huntington Bay',
               'Latham':'Colonie',
               'Oyster Bay':'Oyster Bay Cove', 
               'Poestenkill':'Averill Park',
               'Somers':"Golden's Bridge"}
tx_city_fix = {'Desoto':'Cedar Hill','Jollyville':'Austin'}

In [19]:
df_client_ny['city'] = df_client_ny['city'].replace(ny_city_fix)
df_client_tx['city'] = df_client_tx['city'].replace(tx_city_fix)

/Users/SWDiamond/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/SWDiamond/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
df_client_ny.head()

,screen_name,username,tweet_id,tweet_timestamp,text,hashtags,likes,retweets,replies,sentiment_score,state,city,date,cases,deaths
0,BillBodouva,Real Estate BuyerRep,1254996305082036224,2020-04-28 04:50:10,Happy Birthday Mom! You wouldn’t believe what...,"['bestmom', 'bestfriend', 'happybirthday', '1s...",0,0,0,0.313973,NY,Sands Point,2020-04-28 00:00:00,295137,17638
1,zagnut99,Frank Zagottis,1254999586302820353,2020-04-28 05:03:12,Isolation dinners continue with Isabel’s roast...,"['Dinner', 'Chicken', 'Isolation', 'IsolationD...",0,0,0,-0.600000,NY,Queens,2020-04-28 00:00:00,295137,17638
2,johnnybebad666_,John Fitzgerald Kennedy Page®,1255004404723462146,2020-04-28 05:22:21,COVID-19 update \nThis MTA BUS didn't pick me ...,[],0,0,0,0.000000,NY,Queens,2020-04-28 00:00:00,295137,17638
3,juanjeremy100,Cornerman Juan Jeremy,1255006251676831744,2020-04-28 05:29:41,When the #Cornerman confronts #COVID19 #Pneumo...,"['Cornerman', 'COVID19', 'Pneumonia', 'coronav...",3,1,0,0.000000,NY,Brooklyn,2020-04-28 00:00:00,295137,17638
4,officialdanek,Danèk,1255067181924134913,2020-04-28 09:31:48,Just chilling by the fire! breeeee.x \n.\n.\n...,"['model', 'instagram', 'tiktok', 'picoftheday'...",0,0,0,-0.262500,NY,Manhattan,2020-04-28 00:00:00,295137,17638

In [21]:
merge_ny = pd.merge(df_client_ny, ny_df, on='city')
merge_tx = pd.merge(df_client_tx, tx_df, on='city')

In [22]:
merge_tx.head(2)

,screen_name,username,tweet_id,tweet_timestamp,text,hashtags,likes,retweets,replies,sentiment_score,...,density,ranking,shelter_in_place,all_gatherings_prohibited,traveler_quarantines,temporary_hospitals,businesses_reopening,state_stay_at_home,tests_per_thousand,test_positives_rate
0,all512tv,Austin Live & Local,1255008728711000065,2020-04-28 05:39:32,http://subscribe.all512.com From Texas Standa...,"['atx', 'austin', 'all512']",0,0,0,0.128125,...,1144.0,1,0,0,1,0,1,0,18.1,0.08
1,phonemarttech,PhoneMart,1255047959420403713,2020-04-28 08:15:25,INSTAGRAM COVID-19 CASH GIVE AWAY CONTINUES !!...,['phonemartgiveaway'],1,1,0,0.333333,...,1144.0,1,0,0,1,0,1,0,18.1,0.08

In [23]:
tweets_covid_cty_info = pd.concat([merge_ny,merge_tx], axis=0)

In [24]:
tweets_covid_cty_info.to_csv(r'../data/tweets_covid_cty_info.csv')