In [1]:
import pandas as pd

In [2]:
# read in population data 
population_data = pd.read_csv('county_population.csv', encoding='latin-1')

In [3]:
# determine all rows that have a fips number under 1001 (these are duplicates)
delete_list = []
for i, num in enumerate(population_data['county_fips']):
    if num < 1001:
        delete_list.append(i)

In [4]:
# drop these rows
population_data.drop(index=delete_list,inplace=True)

In [5]:
population_data.head(1)

,fips,state_fips,county_fips,areaname,state_name,county_name,fipsst,fipsco,region,division,...,pop2008,pop2009,pop19904,pop20104,base20104,pop2010,pop2011,pop2012,pop2013,pop2014
3,1001,1,1001,"Autauga County, Alabama",Alabama,Autauga County,1,1001,NaN,NaN,...,NaN,NaN,NaN,54571.0,54571.0,54684.0,55275.0,55192.0,55136.0,55395.0

In [6]:
# drop unnecessary columns
population_data.drop(columns=['region', 
                              'division',
                              'pop2008',
                              'pop2009',
                              'pop19904',
                              'pop20104',
                              'pop1970',
                              'pop2004',
                              'pop1971',
                              'pop2005',
                              'pop2006',
                              'pop1972',
                              'pop1973',
                              'pop2001',
                              'pop2002',
                              'pop2003',
                              'pop2000',
                              'pop1999',
                              'pop1998',
                              'pop1997',
                              'pop1996',
                              'pop1995',
                              'pop1994',
                              'pop1993',
                              'pop1992',
                              'pop1991',
                              'pop1990',
                              'pop1974',
                              'pop1975',
                              'pop1976',
                              'pop1977',
                              'pop1978',
                              'pop1979',
                              'pop1980',
                              'pop1981',
                              'pop1982',
                              'pop1983',
                              'pop1984',
                              'pop1985',
                              'pop1986',
                              'pop1987',
                              'pop1988',
                              'pop1989',
                              'pop2007',
                              'pop2004',
                              'pop2010',
                              'pop2011',
                              'pop2012',
                              'pop2013',
                              'fipsco',
                              'fipsst'
                             ],inplace=True)

In [7]:
# Import square mileage data
sq_mile_data = pd.read_csv('p5_data_Sq_Miles.csv', encoding='latin-1')

In [8]:
# reduce data to three rows
sq_mile_data = sq_mile_data.loc[:,['Areaname','STCOU','LND010200D']]

In [10]:
# merge DataFrames to create county info DF
cty_info = pd.merge(sq_mile_data,population_data,left_on='STCOU', right_on='county_fips')

In [11]:
# create population density column
cty_info['pop_density'] = cty_info['pop2014'] / cty_info['LND010200D']

In [12]:
# Import file of US cities and matching counties
city_cty = pd.read_csv('uscities.csv')

In [13]:
city_cty.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500.0,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947.0,84.0,polygon,False,True,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441.0,163.0,polygon,False,True,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507.0,622.0,polygon,False,True,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591.0,131.0,polygon,False,True,America/Los_Angeles,3,98223 98258 98270,1840041959

In [ ]:
city_cty_info = pd.merge(cty_info,city_cty,on='county_fips')

In [ ]:
city_cty_info.head()

In [ ]:
drops = ['STCOU','LND010200D','county_fips_all','fips','Areaname','areaname','base20104','military','incorporated','timezone','id']

city_cty_info.drop(columns=drops, inplace=True)

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
tx_sip = pd.read_csv('../data/tx_sip.csv')

In [ ]:
tx_sip.head(1)

In [ ]:
sip_list = tx_sip['Index_list'].tolist()

In [ ]:
city_cty_info['shelter_in_place'] = [1 if num in sip_list else 0 for num in range(0,28627)]

In [ ]:
city_cty_info.head()

In [ ]:
tx_df = city_cty_info.loc[23939:25656,:]
ny_df = city_cty_info.loc[16441:17519,:]

In [ ]:
city_cty_final = pd.concat([ny_df,tx_df], axis = 0)

In [ ]:
city_cty_final.tail()

In [ ]:
df_client = pd.read_csv('../data/tweets_and_covid.csv')

In [ ]:
df_client_ny = df_client[df_client['state'] == 'NY']
df_client_tx = df_client[df_client['state'] == 'TX']

In [ ]:
df_client_ny.shape

In [ ]:
ny1 = ['Cheektowaga','Clarence','Amherst','Henrietta','Clifton Park','Delmar','Desoto','Greece','Halfmoon','Huntington','Latham', 'Oyster Bay', 'Poestenkill','Somers']
ny2 = ['Buffalo','Clarence Center', 'Buffalo','Rochester','Round Lake','Albany','Cedar Hill','Rochester','Mechanicville','Huntington Bay','Austin','Colonie','Oyster Bay Cove','Averill Park',"Golden's Bridge"]
tx1 = ['Desoto','Jollyville']
tx2 = ['Cedar Hill','Austin']

In [ ]:
df_client_ny['city'].replace({'Amherst':'Buffalo',})

In [ ]:
len(city_fix(df_client_ny,ny1,ny2))

# df_client_ny['city2'] =

In [ ]:
df_client_tx['city2'] = city_fix(df_client_tx,tx1,tx2)

In [ ]:
len(list2)

In [ ]:
df_client['city2'] = city_list

In [ ]:
df_client_ny.shape

In [ ]:
merge_ny = pd.merge(df_client_ny, ny_df, left_on='city2', right_on='city')
merge_tx = pd.merge(df_client_tx, tx_df, left_on='city2', right_on='city')

In [ ]:
tweets_covid_cty_info = pd.concat([merge_ny,merge_tx], axis=0)

In [ ]:
tweets_covid_cty_info.to_csv(r'../data/tweets_covid_cty_info.csv')