In [1]:
import pandas as pd

In [2]:
population_data = pd.read_csv('county_population.csv', encoding='latin-1')

In [3]:
delete_list = []
for i, num in enumerate(population_data['county_fips']):
    if num < 1001:
        delete_list.append(i)

In [4]:
population_data.drop(index=delete_list,inplace=True)

In [5]:
# Establish a function to reset index of a DataFrame if necessary
def reset_index(df):
# reset act data set index so Alabama row is now 0 in index
    df.reset_index(inplace = True)

# Drop 'index' row from the act data set - (created by last step)
    df.drop(columns = ['index'],inplace=True)

In [6]:
reset_index(population_data)

In [7]:
population_data.head(1)

,fips,state_fips,county_fips,areaname,state_name,county_name,fipsst,fipsco,region,division,...,pop2008,pop2009,pop19904,pop20104,base20104,pop2010,pop2011,pop2012,pop2013,pop2014
0,1001,1,1001,"Autauga County, Alabama",Alabama,Autauga County,1,1001,NaN,NaN,...,NaN,NaN,NaN,54571.0,54571.0,54684.0,55275.0,55192.0,55136.0,55395.0

In [8]:
population_data.drop(columns=['region', 
                              'division',
                              'pop2008',
                              'pop2009',
                              'pop19904',
                              'pop20104',
                              'pop1970',
                              'pop2004',
                              'pop1971',
                              'pop2005',
                              'pop2006',
                              'pop1972',
                              'pop1973',
                              'pop2001',
                              'pop2002',
                              'pop2003',
                              'pop2000',
                              'pop1999',
                              'pop1998',
                              'pop1997',
                              'pop1996',
                              'pop1995',
                              'pop1994',
                              'pop1993',
                              'pop1992',
                              'pop1991',
                              'pop1990',
                              'pop1974',
                              'pop1975',
                              'pop1976',
                              'pop1977',
                              'pop1978',
                              'pop1979',
                              'pop1980',
                              'pop1981',
                              'pop1982',
                              'pop1983',
                              'pop1984',
                              'pop1985',
                              'pop1986',
                              'pop1987',
                              'pop1988',
                              'pop1989',
                              'pop2007',
                              'pop2004',
                              'pop2010',
                              'pop2011',
                              'pop2012',
                              'pop2013',
                              'fipsco',
                              'fipsst'
                             ],inplace=True)

In [9]:
sq_mile_data = pd.read_csv('p5_data_Sq_Miles.csv', encoding='latin-1')

In [10]:
sq_mile_data = sq_mile_data.loc[:,['Areaname','STCOU','LND010200D']]

In [11]:
sq_mile_data.head(1)

        Areaname  STCOU  LND010200D
0  UNITED STATES      0  3794083.06

In [12]:
cty_info = pd.merge(sq_mile_data,population_data,left_on='STCOU', right_on='county_fips')

In [15]:
cty_info['pop_density'] = cty_info['pop2014'] / cty_info['LND010200D']

In [16]:
cty_info.head()

,Areaname,STCOU,LND010200D,fips,state_fips,county_fips,areaname,state_name,county_name,base20104,pop2014,pop_density
0,"Autauga, AL",1001,604.45,1001,1,1001,"Autauga County, Alabama",Alabama,Autauga County,54571.0,55395.0,91.645297
1,"Baldwin, AL",1003,2026.93,1003,1,1003,"Baldwin County, Alabama",Alabama,Baldwin County,182265.0,200111.0,98.726152
2,"Barbour, AL",1005,904.52,1005,1,1005,"Barbour County, Alabama",Alabama,Barbour County,27457.0,26887.0,29.725158
3,"Bibb, AL",1007,626.16,1007,1,1007,"Bibb County, Alabama",Alabama,Bibb County,22919.0,22506.0,35.942890
4,"Blount, AL",1009,650.60,1009,1,1009,"Blount County, Alabama",Alabama,Blount County,57322.0,57719.0,88.716569